
.background_menu {
  position: relative;
  background-color: rgba(34, 34, 34, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#menu {
  position: absolute; /* beeinflusst nicht mehr die Position anderer Elemente, kann frei gesetzt werden */
  /* Mitte zentrieren */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  
  width: 80vw;  /* Bildschirmbreite */
  height: auto;
  
  display: flex;    /* volle Kontrolle über Element */
  flex-direction: column;  /* Bild oben, Text unten */
  align-items: center;
  justify-content: flex-start;  /* wie Flex-Items entlang der Hauptachse ausgerichtet werden */
  gap: 2rem; /* Abstand zwischen Bild und Text */
  
  border: 3px solid #000;
  border-radius: 20px;    /* abgerundete Ecken */
  overflow: hidden;       /* verhindert, dass das Bild über den Rand geht */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* leichtes Schattenspiel */
  background-color: #222;
}

#img_container {
  width: 100%;
  height: 40vw;

  border: 3px solid #000;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: #222;
}

#img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* füllt Container, ohne Seitenverhältnis zu zerstören */
  display: block;
}

#text_container {
  text-align: center;
  color: #eee;
  max-width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#text_container h1 {
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
  color: #ffd700;
  margin-bottom: 0.5rem;
}

#text_container p {
  font-size: 1.3rem;
  margin: 0.5rem 0;
  line-height: 1.4;
}

#controls p {
    margin: 0; /* entfernt Standardabstand */
    font-size: 1.1rem; 
    font-weight: 150;
    color: #eee;
}

#controls {
  display: flex;
  flex-direction: column;
  gap: 0.2rem; /* kleinerer Abstand zwischen den Zeilen */
  margin: 0.25rem 0 1rem 0; /* Abstand zu Überschrift und Button */
}

#enter {
  font-size: 1.5rem;
  font-weight: bold;
  color: #282727;
  background-color: #ffd700;
  border-radius: 12px;
  padding: 1rem 3rem;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease; /* Veränderungen laufen fließen über eine bestimmte Zeit -> enter:hover */
  margin-bottom: 1.5rem;
}

#enter:hover {
  background-color: #ffea70;
  transform: scale(1.05);
}